# .gitignore

# Dependencias de Node
geo-tracking-backend/node_modules
geo-tracking-clients/node_modules
GPSDetectorMobile/node_modules

# Variables de Entorno y Secretos (CRUCIAL)
.env

# Logs y archivos temporales
*.log
npm-debug.log*